<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Admin</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2 push-right">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>



    <section class="section dashboard">

        <app-confirm></app-confirm>

        <!-- Recent Pagos -->
        <div class="col-12">

            <!-- buscador -->
            <app-search></app-search>
            <!-- buscador -->
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title"> <i class="bx bxs-user-account"> </i> Cuentas de usuarios <span>|
                    Todos ({{ usersCount }})</span>
                    </h5>
                    <table [ngClass]="loading? 'table table-borderless datatable':'table table-borderless'">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usuarios |  paginate: { itemsPerPage: count, currentPage: p }">

                                <td>{{user.id}}</td>
                                <td>{{user.username}} </td>
                                <td>{{user.email}}</td>
                                <td>{{user.role }} </td>
                                <td><span [ngClass]="user.is_active == 1 ? 'badge bg-success' : 'badge bg-warning'" class="badge bg-success">{{user.is_active == 1? 'Activo':'Offline'}}</span></td>

                                <td class="text-nowrap text-center">

                                    <a [routerLink]="['/dashboard/user/edit', user.id]" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                        <div class="btn btn-success"><i class="bx bxs-edit"></i></div>
                                    </a>
                                    <a (click)="eliminarUser(user.id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                                        <div class="btn btn-danger"><i class="bx bxs-trash"></i></div>
                                    </a>
                                </td>

                            </tr>
                        </tbody>

                    </table>

                    <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    <!-- <table class="table table-borderless" *ngIf="loading">
                <tfoot>
                    <tr>
                        <td colspan="6">&nbsp; Encontrados {{ usersCount }} usuarios</td>
                    </tr>
                </tfoot>
            </table> -->

                </div>

            </div>

        </div>
        <!-- End Recent Pagos -->

    </section>


</div>
<!--/main-->
