<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/payments">Pagos</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>





    <section class="section dashboard">

        <div class="card pagodetail">
            <div class="col-xs-12 col-sm-6">
                <!-- <p><b>Nombre:</b> {{pago.nombre}}</p> -->
                <!-- <p><b>Fecha | Hora:</b> {{pago.created_at | date:'MMM d, y, h:mm:ss a'}}</p> -->
                <p><b>Referencia:</b> {{pago.referencia}}</p>
                <p><b>Status:</b> <span class="badge bg-primary">{{pago.status}}</span></p>
                <p><b>Monto:</b> {{pago.moneda_codigo}} {{pago.monto}}</p>
                <!-- <p><b>ProductoId:</b> {{pago.producto_id}}</p> -->
            </div>
            <div class="col-xs-12 col-sm-6">
                <!-- <p><b>Email:</b> {{pago.email}}</p> -->
                <p><b>Metodo de Pago:</b> {{pago.metodo}}</p>
                <div *ngIf="pago.bank_name">
                    <p><b>Nombre del Banco:</b> {{pago.bank_name}}</p>
                </div>
                <p><b>Validación:</b> {{pago.validacion}}</p>
                <!-- <p><b>Txn Id:</b> {{pago.txn_id}}</p> -->
            </div>

        </div>

    </section>
</div>
<!-- End #main-->
