<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <!-- <h1><i class="bx bxs-user-account"></i> {{title}}</h1> -->
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Planes</a></li>
                        <!-- <li class="breadcrumb-item active">{{title}}</li> -->
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2 push-right">
            <!-- <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button> -->
        </div>
    </div>



    <section class="section dashboard">

        <div class="planespage">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <!-- banner planes -->

                    <div class="instruccioness shadow animated fadeInUp planss">
                        <!-- <img src="./assets/img/paypal-pay01.png" class="img-responsive " alt=""> -->
                        <div class="info">

                            <h2>Nombre plan</h2>
                            <p>Subscribase a nustros planes! </p>
                            <h2>$100.00</h2>
                            <p>Dirijase a la app o web del metodo preferido, </p>
                            <ul>
                                <li class="badge bg-primary">Paypal</li>
                                <li class="badge bg-primary">Zelle</li>
                                <li class="badge bg-primary">Pago Móvil</li>
                                <li class="badge bg-primary">Transferencia</li>
                            </ul>
                            <a routerLink="/dashboard/planes/plan">
                                <div class="button btn btn-outline-success">Ver Plan</div>
                            </a>
                        </div>
                    </div>
                    <!-- banner planes -->

                </div>
                <div class="col-xs-12 col-sm-6">
                    <!-- banner planes -->

                    <div class="instruccioness shadow animated fadeInUp planss">
                        <!-- <img src="./assets/img/paypal-pay01.png" class="img-responsive " alt=""> -->
                        <div class="info">

                            <h2>Nombre plan</h2>
                            <p>vea nuestro Catalogo </p>
                            <h2>$100.00</h2>
                            <p>Dirijase a la app o web del metodo preferido, </p>
                            <ul>
                                <li class="badge bg-primary">Paypal</li>
                                <li class="badge bg-primary">Zelle</li>
                                <li class="badge bg-primary">Pago Móvil</li>
                                <li class="badge bg-primary">Transferencia</li>
                            </ul>
                            <a routerLink="/dashboard/planes/plan">
                                <div class="button btn btn-outline-success">Ver Plan</div>
                            </a>
                        </div>
                    </div>
                    <!-- banner planes -->
                </div>
            </div>
        </div>



    </section>


</div>
<!--/main-->