<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Admin</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2 push-right">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>



    <section class="section dashboard">

        <app-confirm></app-confirm>

        <!---Nuevo-->
        <div class="container mt-5 mb-3 escritorio">
            <div class="row elemendirec">
                <div class="fr-view">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="elementostop">
                                <!-- <div *ngIf="!directory.image">
                          <div class="icon icon1">
                              <img src="./assets/img/logo.png" class="img-circle">
                          </div>
                      </div>
                      <div *ngIf="directory.image">
                          <div class="icon icon1">
                              <img src="{{imagenSerUrl}}/directorio/{{directory.image}}" class="img-circle">
                          </div>

                      </div> -->
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">{{userprofile.directories[0].surname}}, {{userprofile.directories[0].nombre}} </h6>
                                    <span>{{userprofile.directories[0].especialidad}}</span>
                                    <span>{{userprofile.directories[0].ciudad}}</span>
                                </div>
                                <!-- boton mostrar vcard -->
                                <div *ngIf="userprofile.directories[0].vcard">
                                    <div class="icon icon2" style="cursor: pointer ;">
                                        <a data-toggle="modal" [attr.data-target]="'#vcard_' + userprofile.directories[0].user_id"><i class="fa fa-qrcode" ></i></a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div>

                            <p><i class="fa fa-envelope"></i>{{userprofile.directories[0].email}}</p>
                            <div *ngIf="userprofile.directories[0].website">
                                <p><i class="fa fa-laptop"></i>{{userprofile.directories[0].website}}</p>
                            </div>
                            <div *ngIf="userprofile.directories[0].telprincipal">
                                <p><i class="fa fa-phone"></i>{{userprofile.directories[0].telprincipal}}</p>
                            </div>
                            <div *ngIf="userprofile.directories[0].tel1">
                                <p><i class="fa fa-phone"></i>{{userprofile.directories[0].tel1}}</p>
                            </div>
                            <div *ngIf="userprofile.directories[0].telhome">
                                <p><i class="fa fa-phone"></i>{{userprofile.directories[0].telhome}}</p>
                            </div>

                            <div *ngIf="userprofile.directories[0].telefonos">
                                <p><i class="fa fa-phone"></i>{{userprofile.directories[0].telefonos}}</p>
                            </div>
                            <p [innerHTML]="userprofile.directories[0].direccion | keepHtml"></p>
                            <p [innerHTML]="userprofile.directories[0].direccion1 | keepHtml"></p>
                            <div class="redess">
                                <div *ngIf="userprofile.directories[0].facebook">
                                    <p><i class="fa fa-facebook"></i>{{userprofile.directories[0].facebook}}</p>
                                </div>
                                <div *ngIf="userprofile.directories[0].instagram">
                                    <p><i class="fa fa-instagram"></i>{{userprofile.directories[0].instagram}}</p>
                                </div>
                                <div *ngIf="userprofile.directories[0].twitter">
                                    <p><i class="fa fa-twitter"></i>{{userprofile.directories[0].twitter}}</p>
                                </div>
                                <div *ngIf="userprofile.directories[0].linkedin">
                                    <p><i class="fa fa-linkedin"></i>{{userprofile.directories[0].linkedin}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---modal QR-->
                    <div class="modal fade modalproductos" id="vcard_{{userprofile.directories[0].user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header ">
                                    <div class="cabz">
                                        <h5>Código QR vcard de</h5>
                                        <h6>{{userprofile.directories[0].surname}}, {{userprofile.directories[0].nombre}} </h6>
                                        <p>Para descargar: boton derecho, (Opcion guardar imagen como)</p>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                </div>
                                <div class="modal-body modalserv">
                                    <div class="card cardhome">
                                        <div class="card-body">

                                            <qr-code class="code" id="box" [value]="userprofile.directories[0].vcard" [size]="250">
                                                <img>
                                            </qr-code>
                                            <!-- <a *ngIf="doctores.vcard" [href]="href" (click)="downloadImage()" download>Download Image</a> -->
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                      </div> -->
                            </div>
                        </div>
                    </div>
                    <!---fin modal QR-->
                </div>
            </div>
        </div>
        <!---Nuevo-->



    </section>


</div>
<!--/main-->