<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a routerLink="/" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">SVCBMF</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn" (click)="openMenu()"></i>
    </div>
    <!-- End Logo -->



    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item">
                <div class="header__cart" (click)="viewCart()">
                    <div class="header__cart--notification">{{cartItems.length}}</div>
                    <img src="./assets/svg/icon-cart.svg" class="ligth" alt="">
                    <img src="./assets/svg/icon-cart-white.svg" class="darker" alt="">
                </div>
            </li>
            <li class="nav-item">
                <div class="btns dayNight">
                    <i class="bx bx-bulb" (click)="darkmode('dark')"></i>
                    <!-- <ion-icon name="moon-outline" (click)="darkmode()"></ion-icon>
                    <ion-icon name="sunny-outline" (click)="darkmode()"></ion-icon> -->
                </div>
            </li>

            <app-alert></app-alert>



            <li class="nav-item dropdown pe-3">

                <a href="javascript:void(0)" class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{user.username}}</span>
                </a>
                <!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{user.username}}</h6>
                        <span *ngIf="user.role === 'SUPERADMIN'">Super Admin</span>
                        <span *ngIf="user.role === 'ADMIN'">Admin</span>
                        <span *ngIf="user.role === 'MEMBER'">Miembro</span>
                        <span *ngIf="user.role === 'GUEST'">Invitado</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center cursor" [routerLink]="['/dashboard/profile/', user.id]">
                            <i class="bi bi-person"></i>
                            <span>Mi cuenta</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <!-- <li *ngIf="role.id === 1 || role.id === 2 ">
                        <a class="dropdown-item d-flex align-items-center cursor" routerLink="/dashboard/configuraciones">
                            <i class="bi bi-gear"></i>
                            <span>Configuraciones</span>
                        </a>
                    </li> -->
                    <!-- <li>
                        <hr class="dropdown-divider">
                    </li> -->

                    <li>
                        <a class="dropdown-item d-flex align-items-center cursor" routerLink="/dashboard/help">
                            <i class="bi bi-question-circle"></i>
                            <span>¿Necesita Ayuda?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center cursor" (click)="prueba()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Prueba</span>
                        </a>
                    </li>

                    <li class="dropdown-item d-flex align-items-center cursor">
                        <a (click)="logout()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Salir</span>
                        </a>
                    </li>

                </ul>
                <!-- End Profile Dropdown Items -->
            </li>
            <!-- End Profile Nav -->

        </ul>
    </nav>
    <!-- End Icons Navigation -->

</header>
<!-- End Header -->


<!-- inicio cart modal -->
<div class="cart-modal">
    <!-- <p class="cart-modal__title">Cart</p> -->
    <div class="cart-modal__chekout-container">

        <div *ngIf="cartItems.length > 0">
            <div class="cart-modal__details-container" *ngFor="let item of cartItems; index as i">
                <!-- <img class="cart-modal__image" [src]="item.img | imagenPipe: 'plans'" alt="{{item.productName| slice: 0:10 }}"> -->
                <div>
                    <p class="cart-modal__product">{{item.productName| slice: 0:10 }}...</p>
                    <p class="cart-modal__price">${{item.productPrice}} x{{item.quantity }}<span>${{item.quantity * item.productPrice | number: '1.1-2'}}</span> </p>
                </div>
                <img class="cart-modal__delete" src="./assets/svg/icon-delete.svg" alt="delete" (click)="deletItem(i)">

            </div>
            <a routerLink="/dashboard/realizar-pago">

                <button class="cart-modal__chekount">Checkout</button>
            </a>
        </div>
        <div *ngIf="cartItems.length < 1">
            <p class="cart-empty">Carrito Vacio</p>
        </div>

    </div>
</div>
<!-- fin cart modal -->