.card-img-top {
    width: 170px;
    height: 230px;
    align-self: center;
    padding-top: 10px;
}

.itemproduct {
    width: auto;
}

.itemproduct .card-body {
    padding: 0 20px px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}