<!-- =======| Main |======= -->




<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}} </h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>{{user.username}}</h2>
                        <h3 *ngIf="role.id === 1 ">Super Admin</h3>
                        <h3 *ngIf="role.id === 2 ">Admin</h3>
                        <h3 *ngIf="role.id === 3 ">Miembro</h3>
                        <h3 *ngIf="role.id === 4 ">Invitado</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <div *ngIf="role.id === 4">
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detalles</button>
                                </li>


                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                    Contraseña</button>
                                </li>

                            </ul>

                        </div>

                        <div *ngIf="role.id === 1 || role.id === 2  || role.id === 3 ">
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detalles</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuraciones</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                  Contraseña</button>
                                </li>

                            </ul>

                        </div>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <br />

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="col-lg-3 col-md-4 label ">
                                            <i class="bi bi-person-circle"></i> Nombre
                                        </div>
                                        <div class="col-lg-9 col-md-8">Malcolm Cordova</div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="col-lg-3 col-md-4 label ">
                                            <i class="bi bi-person-circle"></i> Username
                                        </div>
                                        <div class="col-lg-9 col-md-8">{{user.username}}</div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-envelope"></i> Email</div>
                                        <div class="col-lg-9 col-md-8">{{user.email}}</div>
                                    </div>
                                </div>
                                <br>
                                <hr>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-bank2"></i> Tipo Registro</div>
                                        <div class="col-lg-9 col-md-8">{{role.name}}</div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi  bi-award"></i> Descripción</div>
                                        <div class="col-lg-9 col-md-8">{{role.description}}</div>
                                    </div>
                                </div>
                                <br>
                                <hr>

                                <div class="column listapermisos">
                                    <div class="col-lg-3 col-md-4 label labelll"><i class="bi bi-file-text"></i> Permisos</div>
                                    <div class="clear"></div>
                                    <div class="item" *ngIf="role.permissions.length > 0">

                                        <ul>
                                            <li *ngFor="let permiso of role.permissions">
                                                <b>{{permiso.name}}</b>{{permiso.description}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item " *ngIf="role.permissions.length == 0">

                                        <p> Su tipo de rol no posee permisos, su rol es invitado</p>
                                    </div>
                                </div>




                            </div>
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"><i class="bi  bi-file-image"></i>
                        Imagen</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="assets/img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i
                              class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                              class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="first_name" class="col-md-4 col-lg-3 col-form-label"> <i class="bi bi-person-circle"></i> Nombres</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="first_name" type="text" class="form-control" id="first_name" value="Malcom">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="last_name" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-person-circle"></i> Apellidos</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="last_name" type="text" class="form-control" id="last_name" value="Cordova">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="universidad" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-bank2"></i>
                        Universidad</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="universidad" type="text" class="form-control" id="universidad" value="Universidad Central de Venezuela">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="especialidad" class="col-md-4 col-lg-3 col-form-label"><i class="bi  bi-award"></i>
                        Especialidad</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="especialidad" type="text" class="form-control" id="especialidad" value="Cirugía Bucomaxilofacial">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="ano" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-calendar-event"></i>
                        Año</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="ano" type="text" class="form-control" id="ano" value="2008">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="estado" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-geo"></i>
                        Estado</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="estado" type="text" class="form-control" id="estado" value="DF">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="direccion" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-file-text"></i>
                        Dirección Ppal</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div name="direccion" class="quill-editor-default" id="direccion">
                                                <p>Av. Francisco Solano, Edif. Galerias Bolivar, Torre B, Piso 3, Ofic: 36-B. Grupo Dental Acuario, Urb. Sabana Grande. Caracas -1050-</p>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                    <br><br>

                                    <div class="row mb-3">
                                        <label for="direccion1" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-file-text"></i>
                      Dirección Adicional(opcional)</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="" id="" placeholder="Av. Francisco Solano, Edif. Galerias Bolivar, Torre B, Piso 3, Ofic: 36-B. Grupo Dental Acuario, Urb. Sabana Grande. Caracas -1050-"></textarea>

                                        </div>
                                    </div>
                                    <br><br>



                                    <div class="row mb-3">
                                        <label for="telefonos" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-telephone"></i>
                        Teléfonos Principal</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="telefonos" type="text" class="form-control" id="telefonos" value="+58(416)631-16.79 ">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="telefonos" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-telephone"></i>
                      Teléfonos Movil</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="telefonos" type="text" class="form-control" id="telefonos" value="+58(212)781-20.42">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="telefonos" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-telephone"></i>
                    Teléfonos Oficina/Cas</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="telefonos" type="text" class="form-control" id="telefonos" value="+58(212)781-84.02.">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="telefonos" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-telephone"></i>
                  Teléfonos adicionales</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="telefonos" type="text" class="form-control" id="telefonos" value="+58(416)631-16.79 / +58(212)781-20.42 / +58(212)781-84.02.">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-envelope"></i>
                        Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="instagram" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-instagram"></i>
                        Instagram </label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="instagram" type="text" class="form-control" id="instagram" value="https://instagram.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="twitter" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-twitter"></i> Twitter
                      </label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="twitter" type="text" class="form-control" id="twitter" value="https://twitter.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="facebook" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-facebook"></i>
                        Facebook</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facebook" type="text" class="form-control" id="facebook" value="https://facebook.com/#">
                                        </div>
                                    </div>



                                    <div class="row mb-3">
                                        <label for="linkedin" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-linkedin"></i>
                        Linkedin</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="linkedin" type="text" class="form-control" id="linkedin" value="https://linkedin.com/#">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary"><i class="ri ri-save-3-fill"></i> Guardar</button>
                                    </div>
                                </form>
                                <!-- End Profile Edit Form -->

                            </div>
                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Settings Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                                <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                                <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="proOffers">
                                                <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                                <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                                <!-- End settings Form -->

                            </div>

                            <div class="tab-pane fade pt-3 profile-change-password profile-edit" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form>
                                    <div class="row mb-3">
                                        <h3>Cambiar contraseña</h3>
                                        <p>La contraseña será cambiada al usuario <span> <b>mcordoba1999</b></span>
                                        </p>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Reingresar Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                    </div>
                                </form>
                                <!-- End Change Password Form -->

                            </div>
                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

<!--/main-->