<!-- =======| Main |======= -->


<div *ngIf="!userprofile">
    No info
</div>

<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile" *ngIf="userprofile">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}} </h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>{{userprofile.username}}</h2>
                        <p>{{userprofile.email}}</p>
                        <span *ngIf="userprofile.role === 'SUPERADMIN'">Super Admin</span>
                        <span *ngIf="userprofile.role === 'ADMIN'">Admin</span>
                        <span *ngIf="userprofile.role === 'MEMBER'">Miembro</span>
                        <span *ngIf="userprofile.role === 'GUEST'">Invitado</span>

                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <div *ngIf="userprofile.role === 'GUEST'">
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detalles</button>
                                </li>


                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                    Contraseña</button>
                                </li>

                            </ul>

                        </div>

                        <div *ngIf="userprofile.role === 'SUPERADMIN' || userprofile.role === 'ADMIN'  || userprofile.role === 'MEMBER' ">
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detalles</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Mi Directorio</button>
                                </li>
                                <!-- <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuraciones</button>
                                </li> -->

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                  Contraseña</button>
                                </li>

                            </ul>

                        </div>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <br />

                                <div class="row">
                                    <!-- <div class="col-xs-6 col-sm-3">
                                        <div class="col-lg-3 col-md-4 label ">
                                            <i class="bi bi-person-circle"></i> Nombre
                                        </div>
                                        <div class="col-lg-9 col-md-8">{{user.nombre}}</div>
                                    </div> -->
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="col-lg-3 col-md-4 label ">
                                            <i class="bi bi-person-circle"></i> Username
                                        </div>
                                        <div class="col-lg-9 col-md-8">{{userprofile.username}}</div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-envelope"></i> Email</div>
                                        <div class="col-lg-9 col-md-8">{{userprofile.email}}</div>
                                    </div>
                                </div>
                                <br>
                                <hr>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-bank2"></i> Tipo Registro</div>
                                        <div class="col-lg-9 col-md-8">{{userprofile.role}}</div>
                                    </div>
                                </div>





                            </div>
                            <!-- editar perfil -->
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form [formGroup]="profileForm" (submit)="updateForm()">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"><i class="bi  bi-file-image"></i>
                        Imagen</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="assets/img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i
                              class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                              class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="username" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-person-circle"></i> Username</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="username" type="text" class="form-control" id="username" formControlName="username" [value]="userprofile.username">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-envelope"></i>
                        Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" [readOnly]="userprofile.email" [value]="userprofile.email">
                                        </div>
                                    </div>


                                    <div class="text-center">
                                        <input type="hidden" formControlName="id">
                                        <button type="submit" class="btn btn-primary"><i class="ri ri-save-3-fill"></i> Guardar</button>
                                    </div>
                                </form>
                                <!-- End Profile Edit Form -->

                            </div>

                            <!-- mi directorio                             -->
                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Profile Edit Form -->
                                <app-form-user [directorioUser]="directorioUser" id="userprofile.directories[0].user_id"></app-form-user>
                                <!-- End Profile Edit Form -->

                            </div>


                            <div class="tab-pane fade pt-3 profile-change-password profile-edit" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form>
                                    <div class="row mb-3">
                                        <h3>Cambiar contraseña</h3>
                                        <p>La contraseña será cambiada al usuario <span> <b>{{userprofile.username}}</b></span>
                                        </p>
                                    </div>
                                    <!-- <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Reingresar Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div> -->

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                    </div>
                                </form>
                                <!-- End Change Password Form -->

                            </div>
                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

<!--/main-->