<div class="row">
    <div class="col-xs-12 bannerplanes">
        <!-- banner planes -->

        <div class="instruccioness shadow animated zoomIn planss">
            <!-- <img src="./assets/img/paypal-pay01.png" class="img-responsive " alt=""> -->
            <div class="info">

                <h2>Planes</h2><br>
                <p>Subscribase a nustros planes! </p>
                <br>
                <h2>$100.00</h2>
                <br>
                <p>Dirijase a la app o web del metodo preferido, </p>
                <ul>
                    <li class="badge bg-primary">Paypal</li>
                    <li class="badge bg-primary">Zelle</li>
                    <li class="badge bg-primary">Pago Móvil</li>
                    <li class="badge bg-primary">Transferencia</li>
                </ul>
                <a routerLink="/dashboard/planes/all">
                    <div class="button btn btn-outline-success">Ver Planes</div>
                </a>
            </div>
        </div>
        <!-- banner planes -->

    </div>
    <!-- <div class="col-xs-12 col-sm-6">

        <div class="instruccioness shadow animated zoomIn producto">
            <img src="./assets/img/paypal-pay01.png" class="img-responsive " alt="">
            <div class="info">

                <h2>Producto</h2>
                <p>vea nuestro Catalogo </p>
                <h2>$100.00</h2>
                <p>Dirijase a la app o web del metodo preferido, </p>
                <ul>
                    <li class="badge bg-primary">Paypal</li>
                    <li class="badge bg-primary">Zelle</li>
                    <li class="badge bg-primary">Pago Móvil</li>
                    <li class="badge bg-primary">Transferencia</li>
                </ul>
                <a routerLink="/dashboard/productos/all">
                    <div class="button btn btn-outline-success">Ver Productos</div>
                </a>
            </div>
        </div>
    </div> -->
</div>
