<app-header></app-header>
<app-aside></app-aside>
<!-- =======| Main |======= -->
<div class="container" id="main" class="main" role="main">

    <!-- Page Title -->
    <div class="pagetitle">
        <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/">Panel Administrativo</a></li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">

        <div class="row">
            <div class="col-xl-4">

                <div class="card profile">

                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Operaciones</h6>
                            </li>

                            <li><a class="dropdown-item" routerLink="profile/1">Editar</a></li>

                        </ul>
                    </div>
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>Admin</h2>

                        <h4>Administrador</h4>

                    </div>
                </div>

            </div>
            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#news">Actualidad</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#recentPayments">Transacciones Recientes</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#status">Usuarios Recientes</button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active news" id="news">
                                <br />
                                <app-dolar-today></app-dolar-today>
                            </div>
                            <div class="tab-pane fade show  recentPayments" id="recentPayments">
                                <app-pagos-recientes></app-pagos-recientes>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="status">
                                <app-usuarios-recientes></app-usuarios-recientes>
                            </div>


                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
<!--/main-->