<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{pageTitle}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Admin</a></li>
                        <li class="breadcrumb-item active">{{pageTitle}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2 push-right">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>



    <section class="section dashboard">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material " (ngSubmit)="guardarDirectorio()" [formGroup]="directorioForm">
                            <div class="row formuEdit">
                                <div class=" form-group col-xs-12 col-sm-9 m-t-10">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Nombres <span class="required">*</span></label>
                                            <input type="text" formControlName="nombre" class="form-control" required>
                                            <!-- <div *ngIf="directorioForm.controls.nombre.errors?.required && nombre.invalid && (nombre.dirty || nombre.touched) && mostrarMensajesVU" class="error" severity="danger" text="{{ campoObligatorio }}"></div> -->
                                            <!-- <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
                                    <div *ngIf="nombre.errors?.required">
                                        Campo requerido.
                                    </div>
                                </div> -->
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Apellidos <span class="required">*</span></label>
                                            <input type="text" formControlName="surname" class="form-control" required>
                                            <!-- <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="error">
                                    <div *ngIf="surname.errors">
                                        Campo requerido.
                                    </div>
                                </div> -->
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Especialidad <span class="required">*</span></label>
                                            <input type="text" formControlName="especialidad" class="form-control" required>
                                            <!-- <div *ngIf="especialidad.invalid && (especialidad.dirty || especialidad.touched)" class="error">
                                    <div *ngIf="especialidad.errors">
                                        Campo requerido.
                                    </div>
                                </div> -->
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Universidad <span class="required">*</span></label>
                                            <input type="text" formControlName="universidad" class="form-control" required>

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Año de Graduación </label>
                                            <input type="text" formControlName="ano" class="form-control">

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Sitio Web </label>
                                            <input type="text" formControlName="website" class="form-control">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Email<span class="required">*</span></label>
                                            <input type="text" formControlName="email" class="form-control" required>

                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Estado</label>
                                            <input type="text" formControlName="estado" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Ciudad</label>
                                            <input type="text" formControlName="ciudad" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Teléfonos</label>
                                            <input type="text" formControlName="telefonos" class="form-control">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Teléfonos Principal  <span class="required">*</span></label>
                                            <input type="text" formControlName="telprincipal" class="form-control" required>

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Teléfonos Adicional(Opcional)</label>
                                            <input type="text" formControlName="tel1" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Teléfonos Móvil  </label>
                                            <input type="text" formControlName="telmovil" value="telmovil" class="form-control">

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Teléfonos Home(Opcional)</label>
                                            <input type="text" formControlName="telhome" value="telhome" class="form-control">
                                        </div>
                                        <div class="clear"></div>
                                        <div class="form-group col-md-12">
                                            <label>Dirección <span class="required">*</span></label>
                                            <div class="form-group col-md-12">
                                                <!-- <ckeditor [editor]="Editor" (ready)="onReady($event)" data="<p>Hello, world!</p>" formControlName="direccion" value="direccion" rows="5" class="form-control" required></ckeditor> -->
                                                <textarea formControlName="direccion" value="direccion" rows="5" rows="10" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">

                                            <label>Dirección Adicional (Opcional)</label>
                                            <!-- <ckeditor [editor]="Editor1" (ready)="onReady($event)" data="<p>Hello, world!</p>" formControlName="direccion1" value="direccion1" rows="5" class="form-control"></ckeditor> -->
                                            <textarea formControlName="direccion1" value="direccion1" rows="5" rows="10" class="form-control"></textarea>
                                        </div>
                                    </div>


                                </div>

                                <!----//-->
                                <div class="col-xs-12 col-sm-3 m-t-10">
                                    <div class="form-group">
                                        <p>Subir Imagen (peso max: 500kb | medidas max: 226x226px | formato jpg)</p>
                                        <div class="col-xs-12">
                                            <input type="file" id="image" (change)="onSelectedFile($event)" />
                                            <div [innerHTML]="uploadError" class="error"></div>
                                            <div *ngIf="imagePath">
                                                <br />
                                                <img [src]="imagePath" width="50%" value="photo" class="shadow">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <h2>Redes Sociales</h2>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="redes form-group">
                                            <div class="switch">
                                                <i class="fa fa-facebook-square fa-2x" style="margin-right: 5px;"></i>
                                                <input type="text" class="form-control" formControlName="facebook">
                                            </div> <br><br>
                                            <div class="switch">
                                                <i class="fa fa-instagram fa-2x" style="margin-right: 5px;"></i>
                                                <input type="text " class="form-control" formControlName="instagram">
                                            </div> <br><br>
                                            <div class="switch">
                                                <i class="fa fa-twitter-square fa-2x" style="margin-right: 5px;"></i>
                                                <input type="text" class="form-control" formControlName="twitter">
                                            </div> <br><br>
                                            <div class="switch">
                                                <i class="fa fa-linkedin-square fa-2x" style="margin-right: 5px;"></i>
                                                <input type="text" class="form-control" formControlName="linkedin">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12">
                                        <h2>Codigo Vcard QR</h2>
                                        <br>
                                        <qr-code *ngIf="display" class="code" id="box" [value]="vCardInfo" [size]="250">
                                            <img class="yellow">
                                        </qr-code>
                                        <a *ngIf="display" [value]="vCardInfo" (click)="hideQRCode()">Hide QR</a>
                                        <a *ngIf="display" [href]="href" (click)="downloadImage()" download>Download Image</a>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" formControlName="id">
                            <button class="btn btn-outline-success waves-effect waves-light m-r-10" type="submit">Guardar</button>


                        </form>


                    </div>
                    <!-- {{error}} -->
                </div>
            </div>
        </div>

    </section>


</div>
<!--/main-->