<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">

                        <h3>{{user.username}}</h3>
                        <h3>
                            <span class="badge bg-dark-light" *ngIf="user.role === 'SUPERADMIN'">SuperAdmin</span>
                            <span class="badge bg-primary" *ngIf="user.role === 'ADMIN'">Admin</span>
                            <span class="badge bg-success" *ngIf="user.role === 'MEMBER'">Miembro</span>
                            <span class="badge bg-secondary" *ngIf="user.role === 'GUEST'">Invitado</span>
                        </h3>
                        <!-- <span [ngClass]="user.is_active == 1 ? 'badge bg-success' : 'badge bg-warning'" class="badge bg-success">{{user.is_active == 1? 'Activo':'Offline'}}</span> -->
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#historial">Historial Pagos</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link " data-bs-toggle="tab" data-bs-target="#detalle">Detalles</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuraciones</button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active historial" id="historial">
                                <ul *ngFor="let payment of user.payments">
                                    <li><a [routerLink]="['/dashboard/payment-detail', payment.id]">
                                  Referencia: {{payment.referencia}} | Status:
                                  <span class="badge bg-success" *ngIf="payment.status === 'APPROVED'">Aprobado</span>
                                    <span class="badge bg-primary" *ngIf="payment.status === 'PENDING'">Pendiente</span>
                                    <span class="badge bg-danger" *ngIf="payment.status === 'REJECTED'">Rechazado</span>
                                </a></li>
                                </ul>
                                <br />



                            </div>

                            <div class="tab-pane fade  pt-3" id="detalle">

                                <!-- <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">
                                        <i class="bi bi-person-circle"></i> Nombre
                                    </div>
                                    <div class="col-lg-9 col-md-8">{{user.first_name}} {{user.last_name}}</div>
                                </div> -->
                                <div *ngIf="user.directories[0]">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-bank2"></i> Universidad</div>
                                        <div class="col-lg-9 col-md-8">{{user.directories[0].universidad}}</div>
                                    </div>



                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi  bi-award"></i> Especialidad</div>
                                        <div class="col-lg-9 col-md-8">{{user.directories[0].especialidad}} <span>- {{user.directories[0].ano}}</span></div>
                                    </div>



                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-file-text"></i> Dirección</div>
                                        <div class="col-lg-9 col-md-8">
                                            <p>{{user.directories[0].direccion}}</p>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">
                                            <i class="bi bi-geo"></i> Estado
                                        </div>
                                        <div class="col-lg-9 col-md-8">{{user.directories[0].estado}}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-telephone"></i> Teléfonos Ppal.</div>
                                        <div class="col-lg-9 col-md-8">{{user.directories[0].telmovil}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label"><i class="bi bi-telephone"></i> Teléfono Movil</div>
                                        <div class="col-lg-9 col-md-8">{{user.directories[0].telmovil}}</div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label"><i class="bi bi-envelope"></i> Email</div>
                                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                                </div>
                                <div *ngIf="!user.directories[0]">
                                    <p>No posee directorio</p>
                                </div>

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">
                                <h4>Role: {{user.role}}</h4>

                                <div class="container">
                                    <div class="row">


                                        <div class="form-group col-xs-12 col-sm-6">
                                            <label for="exampleInputuname">Status<span class="required">*</span></label>
                                            <div class="input-group">
                                                <select class="form-control" [(ngModel)]="user.role">
                                    <option value="SUPERADMIN">Super Admin</option>
                                    <option value="ADMIN">Admin</option>
                                    <option value="MEMBER">Miembro</option>
                                    <option value="GUEST">Invitado</option>
                                  </select>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button (click)="updateUser(user)" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Settings Form -->
                                <!-- <form>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                                <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                                <label class="form-check-label" for="newProducts">
                          Information on new products and services
                        </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="proOffers">
                                                <label class="form-check-label" for="proOffers">
                          Marketing and promo offers
                        </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                                <label class="form-check-label" for="securityNotify">
                          Security alerts
                        </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form> -->
                                <!-- End settings Form -->

                            </div>



                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
<!--/main-->