<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Admin</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2 push-right">
            <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>



    <section class="section configuraciones">


        <!-- Recent Pagos -->
        <div class="container">

            <div class="row">


                <div class="col-xs-12 col-sm-6  col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="bi bi-file-post"></i>
                            <h2> Planes</h2>
                            <a routerLink="/dashboard/planes">
                                <button class="btn btn-outline-success btn-block">Ver todos</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6  col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="bi bi-coin"> </i>
                            <h2> Monedas</h2>
                            <a routerLink="/dashboard/currencies">
                                <button class="btn btn-outline-success btn-block">Ver todos</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6  col-md-4">
                    <div class="card">
                        <div class="card-body roles">
                            <i class="bi bi-info-circle"> </i>
                            <h2> Roles</h2>
                            <a routerLink="/dashboard/rolesconf">
                                <button class="btn btn-outline-success btn-block">Ver todos</button>
                            </a>
                            <!-- <ul>
                                <li *ngFor="let rol of roles">{{rol.name}}</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Pagos -->

    </section>


</div>
<!--/main-->