<section class="grafica">

    <div class="">
        <div class="cgdegrafica"></div>
        <div class="listagrf">
            <div class="metodo">
                <div class="icontext">
                    <i class="fa fa-home"></i> Paypal
                </div>
                <div class="icontext">
                    <i class="fa fa-info"></i> Ingreso

                </div>

            </div>
            <div class="metodo">
                <div class="icontext">
                    <i class="fa fa-home"></i> Paypal
                </div>
                <div class="icontext">
                    <i class="fa fa-info"></i> Ingreso

                </div>

            </div>
            <div class="metodo">
                <div class="icontext">
                    <i class="fa fa-home"></i> Paypal
                </div>
                <div class="icontext">
                    <i class="fa fa-info"></i> Ingreso

                </div>

            </div>
            <div class="metodo">
                <div class="icontext">
                    <i class="fa fa-home"></i> Paypal
                </div>
                <div class="icontext">
                    <i class="fa fa-info"></i> Ingreso

                </div>

            </div>
        </div>
    </div>

</section>