<app-header></app-header>

<app-aside></app-aside>

<!-- =======| Main |======= -->
<div class="container" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel User</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>



    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">

                        <!-- <h3>{{ user.username?user.username:'' }}</h3> -->
                        <h3>{{ user.username }}</h3>
                        <!-- <h3>{{ user.role.descripcion }}</h3> -->
                        <div class="social-links mt-2">
                            <a *ngIf="user.twitter" href="{{user.twitter}}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a *ngIf="user.facebook" href="{{user.facebook}}" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a *ngIf="user.instagram" href="{{user.instagram}}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a *ngIf="user.linkedin" href="{{user.linkedin}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-user">Usuario</button>
                            </li>

                            <!-- <li class="nav-item" *ngIf="user.role.name=='Miembro'"> -->
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Detalles</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuraciones</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Contraseña</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-user profile-overview" id="profile-user">

                                <h5 class="card-title"> Cuenta de Usuario</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label "><i class="bx bxs-user"> </i> Usuario</div>
                                    <div class="col-lg-9 col-md-8"> {{ user.username }} / {{ user.first_name }} {{user.last_name }} </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label"><i class="bx bxs-shield"> </i> Privilegios
                                    </div>
                                    <!-- <div class="col-lg-9 col-md-8">{{user.role.name}}</div> -->

                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label"><i class="bx bxs-calendar-alt"> </i> Creado el
                                    </div>
                                    <div class="col-lg-9 col-md-8">{{user.created_at | date:'MMM d, y, h:mm:ss a'}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label"><i class="bx bxs-calendar-alt"> </i> Status
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        <span [ngClass]="user.is_active == 1 ? 'badge bg-success' : 'badge bg-warning'" class="badge bg-success">{{user.is_active == 1? 'Activo':'Offline'}}</span>
                                    </div>
                                </div>

                            </div>


                            <!-- <div class="tab-pane fade profile-edit pt-3" id="profile-edit" *ngIf="user.role.name=='Miembro'"> -->
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <app-form-user [directorioUser]="directorioUser"></app-form-user>
                                <!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Settings Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email
                                            Notifications</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                                <label class="form-check-label" for="changesMade">
                                                    Changes made to your account
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                                <label class="form-check-label" for="newProducts">
                                                    Information on new products and services
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="proOffers">
                                                <label class="form-check-label" for="proOffers">
                                                    Marketing and promo offers
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                                <label class="form-check-label" for="securityNotify">
                                                    Security alerts
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                                <!-- End settings Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva
                                            Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Reingresar
                                            Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                    </div>
                                </form>
                                <!-- End Change Password Form -->

                            </div>

                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
<!-- End #main -->
<app-footer></app-footer>