<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <div class="row">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Miembro</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
            <button class="btn btn-outline-success pull-right" routerLink="/dashboard/realizar-pago">Realizar un Pago</button>
        </div>
    </div>





    <section class="section dashboard">



        <!-- Recent Pagos -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title"> <i class="bi bi-currency-exchange"> </i> Transacciones <span>| Todas</span>
                    </h5>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Referencia</th>
                                <th scope="col">Metodo </th>
                                <th scope="col">Monto</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Status</th>
                                <th scope="col">Validación</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let userpayment of userProfile.payments ">
                                <th scope="row"><a [routerLink]="['/dashboard/payment-detail', userpayment.id]">{{userpayment.id}}</a></th>
                                <th scope="row">{{userpayment.referencia}}</th>
                                <td>{{userpayment.metodo}}</td>
                                <td>{{userpayment.monto}} </td>
                                <td>{{userpayment.moneda_codigo}}</td>
                                <td>{{userpayment.created_at | date:'MMM d, y, h:mm:ss a'}}</td>
                                <td>
                                    <!-- <span class="badge bg-success">{{userpayment.status}}</span> -->
                                    <span class="badge bg-success" *ngIf="userpayment.status === 'APPROVED'">Aprobado</span>
                                    <span class="badge bg-primary" *ngIf="userpayment.status === 'PENDING'">Pendiente</span>
                                    <span class="badge bg-danger" *ngIf="userpayment.status === 'REJECTED'">Rechazado</span>
                                </td>
                                <td>
                                    <!-- <span class="badge bg-success">{{userpayment.validacion}}</span> -->
                                    <span class="badge bg-success" *ngIf="userpayment.validacion === 'APPROVED'">Aprobado</span>
                                    <span class="badge bg-primary" *ngIf="userpayment.validacion === 'PENDING'">Pendiente</span>
                                    <span class="badge bg-danger" *ngIf="userpayment.validacion === 'REJECTED'">Rechazado</span>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <!-- End Recent Pagos -->
    </section>
</div>
<!-- End #main-->