<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed cursor" routerLink="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <!-- menu superadmin y admin -->

        <div *ngIf="role.id === 1 || role.id === 2 ">
            <li class="nav-heading" *ngIf="role.id === 1 ">Pages SuperAdmin</li>
            <li class="nav-heading" *ngIf="role.id === 2">Pages Admin</li>

            <!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed cursor" routerLink="/dashboard/users" routerLinkActive="active">
                    <i class="bx bxs-user-account"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <!-- End Profile Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed cursor" routerLink="/dashboard/directorio" routerLinkActive="active">
                    <i class="bx bxs-user-account"></i>
                    <span>Directorio</span>
                </a>
            </li>
            <!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed cursor" routerLink="/dashboard/payments" routerLinkActive="active">
                    <i class="bi bi-currency-exchange"> </i>
                    <span>Pagos</span>
                </a>
            </li>
            <!-- End Payments Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]" routerLinkActive="active">
                    <i class="bi bi-person"></i>
                    <span>Mi Cuenta</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed cursor" routerLink="/dashboard/historial-pagos" routerLinkActive="active">
                    <i class="bi bi-currency-exchange"> </i>
                    <span>Mis Pagos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed cursor" routerLink="/dashboard/configuraciones" routerLinkActive="active">
                    <i class="bi bi-bricks"> </i>
                    <span>Configuraciones</span>
                </a>
            </li>
            <!-- End Payments Page Nav -->
        </div>

        <!-- menu superadmin y admin -->
        <!-- menu miembro -->


        <div *ngIf="role.id === 3 ">
            <li class="nav-heading" *ngIf="role.id === 3 ">Pages Miembro</li>
            <li class="nav-item">
                <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]" routerLinkActive="active">
                    <i class="bi bi-person"></i>
                    <span>Mi Cuenta</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed cursor" routerLink="/dashboard/historial-pagos" routerLinkActive="active">
                    <i class="bi bi-currency-exchange"> </i>
                    <span>Mis Pagos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/directorio/view', 1]" routerLinkActive="active">
                    <i class="bx bxs-user-account"></i>
                    <span>Directorio</span>
                </a>
            </li>
        </div>
        <div *ngIf="role.id === 4">

            <li class="nav-heading" *ngIf="role.id === 4">Pages Invitado</li>
            <li class="nav-item">
                <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.id]" routerLinkActive="active">
                    <i class="bi bi-person"></i>
                    <span>Mi Cuenta</span>
                </a>
            </li>
        </div>

        <!-- End Payments Page Nav -->
        <!-- todos -->
        <li class="nav-item">
            <a class="nav-link collapsed cursor" routerLink="/dashboard/help" routerLinkActive="active">
                <i class="bi bi-question-circle"></i>
                <span>Ayuda</span>
            </a>
        </li>
        <!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed cursor" routerLink="/dashboard/contact" routerLinkActive="active">
                <i class="bi bi-envelope"></i>
                <span>Contacto</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed cursor" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Salir</span>
            </a>
        </li>
        <!-- End Contact Page Nav -->


    </ul>

</aside>
<!-- End Sidebar-->