.historial ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    margin: auto;
}

.historial ul li {
    margin-bottom: 10px;
}

.historial ul li a {
    padding: 5px;
    color: var(--black);
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    transition: all .3s ease;
}

.historial ul li a:hover {
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(82, 63, 105, 0.2);
    border-radius: 4px;
}

.info,
.info p {
    font-size: 14px;
}

.imgqr {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
}

.detail .label i {
    margin-right: 5px;
    color: var(--azul);
}

@media(min-width:1024px) {
    .detail .col-sm-8,
    .detail .col-sm-4 {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .detail .col-sm-8 {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
    .detail .label {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: var(--bold);
    }
    .detail .label i {
        margin-right: 5px;
        color: var(--azul);
    }
    .detail .info {
        display: flex;
        flex-direction: row;
        margin-left: 22px;
    }
}