<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        <p>Sociedad Venezolana de Cirugía Bucomaxilofacial [ SVCBMF ] 2019 - {{ year }} <br> Diseño y Desarrollo por: <a href="https://www.malcolmcordova.com" target="_blank">Malcolm Córdova</a></p>
    </div>
    <div class="credits">

    </div>


    <!-- back-to-top -->

</footer>
<!-- End Footer -->

<a routerLink="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>