<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/">Panel Admin</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/configuraciones">Configuraciones</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-xs-12 col-sm-2 push-right">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>
    </div>



    <section class="section dashboard">

        <app-confirm></app-confirm>

        <!-- Recent Pagos -->
        <div class="col-12">


            <div class="row">
                <div class="col-10">
                    <!-- buscador -->
                    <app-search></app-search>
                    <!-- buscador -->
                </div>
                <div class="col-2">
                    <div class="text-right">
                        <button class="btn btn-primary" [routerLink]="['/dashboard/currencies/create/']">
                  <i class="fa fa-pencil"></i>
                  Crear
                </button>
                    </div>
                </div>
            </div>


            <div class="card recent-sales overflow-auto">


                <div class="card-body">


                    <table [ngClass]="loading? 'table table-borderless datatable':'table table-borderless'">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Creado</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let currency of currenciesAll |  paginate: { itemsPerPage: count, currentPage: p }">

                                <td>{{currency.id}}</td>
                                <td>{{currency.name}}</td>
                                <td>{{currency.created_at | date:'MMM d, y, h:mm:ss a'}} </td>

                                <td class="text-nowrap text-center">

                                    <a [routerLink]="['/dashboard/currency/edit', currency.id]" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="bx bxs-edit text-success" style="font-size: 18px;"></i>
                                    </a>
                                    <a (click)="eliminarCurrency(currency.id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                                        <i class="bx bxs-trash text-danger" style="font-size: 18px; margin-left: 10px; margin-right: 10px;"></i>
                                    </a>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    <!-- <table class="table table-borderless" *ngIf="loading">
                        <tfoot>
                            <tr>
                                <td colspan="6">&nbsp; Encontrados {{ usersCount }} usuarios</td>
                            </tr>
                        </tfoot>
                    </table> -->

                </div>

            </div>
        </div>
        <!-- End Recent Pagos -->

    </section>


</div>
<!--/main-->